---
layout: base
title: "Beyond Reality"
subtitle: Team
bigimg:
- "/img/gregtech.png"
- "/img/clouds.png"
- "/img/crossroads.png"
- "/img/beyondreality.png"
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-md-3">
          <!--NodeCraft-->
		  <a href="https://nodecraft.com/r/beyondreality">
          <img src="{{ site.baseurl }}/img/community-partner.png" style="width:166px;height:47px;border:0;">
          </a> 
          <!-- Discord -->
          <script type="text/javascript" src="http://discord.deliriousdrunkards.com/discord.min.js"></script>
          <script type="text/javascript">
			discordWidget.init({
			  serverId: '76745454464806912',
			  title: 'Beyond Reality',
			  join: true,
			  alphabetical: false,
			  theme: 'light',
			  hideChannels: ['Channel Name 1', 'Channel Name 2'],
			  showAllUsers: true,
			  allUsersDefaultState: true,
			  showNick: false
			});
			discordWidget.render();
		   </script>
           <div class="discord-widget"></div>
		   <!-- Twitter -->
           <p>
			<a class="twitter-timeline" 
			data-dnt="true" data-width="1000" data-height="300"
			href="https://twitter.com/Dominance28" 
			data-widget-id="647819704925581312"
			data-chrome="nofooter noborders transparent" data-tweet-limit="2">I am tweeting (@Dominance28)</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
           </p>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-9">
          <!--Body content-->
		<div class="posts-list">
           {% for post in paginator.posts %}
          <article class="post-preview">
           <a href="{{ post.url | prepend: site.baseurl }}">
	       <h2 class="post-title">{{ post.title }}</h2>

	       {% if post.subtitle %}
	       <h3 class="post-subtitle">
	       {{ post.subtitle }}
	       </h3>
	       {% endif %}
           </a>

          <p class="post-meta">
          Posted on {{ post.date | date: "%B %-d, %Y" }}
          </p>

          <div class="post-entry">
          {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
	      <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
          </div>

          </article>
          {% endfor %}
        </div>

         {% if paginator.total_pages > 1 %}
         <ul class="pager main-pager">
         {% if paginator.previous_page %}
         <li class="previous">
         <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
         </li>
         {% endif %}
         {% if paginator.next_page %}
         <li class="next">
         <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
         </li>
         {% endif %}
         </ul>
         {% endif %} 

        </div>
    </div>
</div>